<div id="app">
  <nav class="navbar navbar-expand navbar-dark " style="background-color:#dee2e6;">
    <a href="#" class="navbar-brand " style="color: #007bff;font-weight: bold;">UniversityR</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      @if (showAdminBoard) {
        <li class="nav-item">
          <a href="/admin" class="nav-link" routerLink="admin">
            <i class="fas fa-user-cog"></i> Admin Board
          </a>
        </li>
      }
      @if (showModeratorBoard) {
        <li class="nav-item">
          <a href="/mod" class="nav-link" routerLink="mod">
            <i class="fas fa-user-shield"></i> Moderator Board
          </a>
        </li>
      }
      @if (isLoggedIn) {
        <li class="nav-item" style="display: flex;">
          <a href="/dashboard" class="nav-link" routerLink="dashboard">
            <i class="fas fa-chart-bar"></i> Dashboard
          </a>
          <a href="/users" class="nav-link" routerLink="users">
            <i class="fas fa-users"></i> Users
          </a>
          
          <a href="/matiere" class="nav-link" routerLink="matiere">
            <i class="fas fa-book"></i> Subjects
          </a>
          <a href="/classe" class="nav-link" routerLink="classe">
           <i class="fas fa-chalkboard"></i> Classes
          </a>
          <a href="/departement" class="nav-link" routerLink="departement">
            <i class="fas fa-building"></i> Departments
          </a>
          
        </li>
           
        
      }
    </ul>

    @if (!isLoggedIn) {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/register"  class="nav-link " routerLink="register">
            <i class="fas fa-user-plus"></i> Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">
            <i class="fas fa-sign-in-alt"></i> Sign In
          </a>
        </li>
      </ul>
    } @else {
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button mat-icon-button [matMenuTriggerFor]="menu" style="padding-top: 9px;color: #6c757d;size: 2px;">
            <i class="fas fa-user" ></i>
          </button>
          <mat-menu #menu="matMenu">
            <a href="/profile" class="nav-link" routerLink="profile">
              <button mat-menu-item>{{ username }}</button>
            </a>
            <button mat-menu-item>Setting</button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a>
        </li>
      </ul>
    }
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
