
.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }

  /* Assurez-vous d'avoir la bibliothèque FontAwesome pour utiliser les icônes */
/* Vous pouvez l'ajouter dans le head de votre fichier HTML avec une balise <link> ou via npm */
/* Exemple: <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> */

/* Style général du header */
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Bordure inférieure */
}

/* Style du texte du lien */
.navbar-nav .nav-link {
  color: #6c757d; /* Couleur du texte */
  font-weight: bold; /* Gras */
}

/* Style de l'icône dans le bouton */
.navbar-nav .mat-icon-button .mat-icon {
  color: #6c757d; /* Couleur de l'icône */
}

/* Style du texte du lien au survol */
.navbar-nav .nav-link:hover {
  color: #007bff; /* Couleur du texte au survol */
}

/* Style de l'icône dans le bouton au survol */
.navbar-nav .mat-icon-button:hover .mat-icon {
  color: rgba(255, 255, 255, 0.7); /* Couleur de l'icône au survol */
}

/* Style du menu déroulant */
.mat-menu-panel {
  background-color: #fff; /* Couleur de fond */
  color: #333; /* Couleur du texte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
}

/* Style du texte des éléments du menu déroulant */
.mat-menu-content .mat-menu-item {
  color: #333; /* Couleur du texte */
}

/* Style du texte des éléments du menu déroulant au survol */
.mat-menu-content .mat-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Couleur de fond au survol */
}

/* Style de la bordure inférieure active du lien */
.navbar-nav .nav-item.active .nav-link {
  border-bottom: 2px solid #fff; /* Bordure inférieure */
}

/* Style de la bordure inférieure du lien sur le menu déroulant au survol */
.mat-menu-content .mat-menu-item.active .mat-menu-item-text {
  border-bottom: 2px solid #000; /* Bordure inférieure */
}
